<div id="userDetails">

    <!--
    <div>
        <img ng-src="{{user.avatar_url}}" title="{{user.login}}" />
    </div>
    -->

    <h2>{{user.name}}</h2>
    {{error}}
    <!--<img src="http://wwww.gravatar.com/avatar/{{user.gravatar_id}}" alt="{{username}}"/>-->
    <img ng-src="{{user.avatar_url}}" width="40" height="40" title="{{user.login}}"/>

    <div>
        Order :

        <select ng-model="repoSortOrder">
            <option value="+name">Name</option>
            <option value="-stargazers_count">Start</option>
            <option value="+language">Language</option>
        </select>
    </div>

</div>


<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Starts</td>
        <td>Language</td>
        <td>Solution 2</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="repo in repos | orderBy : repoSortOrder">
        <td><a href="#/repo/{{user.name}}/{{repo.name}}">{{repo.name}}</a></td>
        <td>{{repo.stargazers_count | number:1}}</td>
        <td>{{repo.language}}</td>
        <td><a href="#/repo2/{{user.name}}/{{repo.name}}">(solution 2)</a></td>
    </tr>
    </tbody>
</table>
<br/>
<a href="#/main">Back to main</a>